@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
.head{
  
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 1;
}
.navbar{
    position: relative;
}
section {
    padding: 60px 0;
}
section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
section{
    background-color: white;

}

#team{
    background-color: 
}
#team .card {
    border: none;
    background: #ffffff;
    margin: 10px;
    color: darkblue;
}

p{
    padding: 10px;  
}

span.green{
    color:green
}

span.blue{
    color:darkblue;
}
.divider{
    background-color: darkblue;
}
li{
    display: inline-block;
    margin: 10px;
}
h5{
    color:white;
    font-weight: bold;
}
.footer-bottom{
    background-color:darkblue
}
.border-1px{
    border: 1px solid #F0F3F4;
    background-color: #F0F3F4;
    color: darkblue;
    padding: 1px;
    margin:10px;
}
.line-bottom{
    color:darkblue;
}

section.cnavbar{
    margin-top: 50px !important;
    padding: 0px !important;
    margin-bottom: 0px !important;
}
nav{
    padding:0px !important;
    margin:0px !important;
    width:100%;
}
.navbar{
    margin-bottom:0px !important; 
    padding: 0px;
}